<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2016 - PlayReactWithAPI</p>
    </footer>
    <script src="~/js/bundle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
